
/* Your CSS Code here. */
.container{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.container div{
	width: 80px;
	height: 80px;
	font-size: 35px;
	font-weight: bold;
}
.div1{
	background-color: green;
}
.div2{
	background-color: red;
}
.div3{
	background-color: blue;
}